@use 'variables' as var;

.notavif.notwebp {
    .header {
        background-image: url(../assets/images/mobile/image-header.jpg);

        @include var.mdq {
            background-image: url(../assets/images/desktop/image-header.jpg);
        }
    }
}

.webp {
    .header {
        background-image: url(../assets/images/mobile/image-header.webp);

        @include var.mdq {
            background-image: url(../assets/images/desktop/image-header.webp);
        }
    }
}

.avif {
    .header {
        background-image: url(../assets/images/mobile/image-header.avif);

        @include var.mdq {
            background-image: url(../assets/images/desktop/image-header.avif);
        }
    }
}