@use "variables" as var;

body {
    background-color: var.$clr-neutral-100;
}

h1,
h2,
h3 {
    font-family: var.$ff-fraunces;
}

h1 {
    font-size: var.$fs-40;
    color: var.$clr-neutral-100;
}

h2 {
    font-size: var.$fs-24;
}

h3 {
    font-size: var.$fs-18;
}

p {
    font-size: var.$fs-16;
    font-family: var.$ff-barlow;
}

a {
    text-decoration: none;
    font-family: var.$ff-fraunces;
    color: currentColor;
}

ul {
    list-style-type: none;
    padding: unset;
}

.logo {
    width: 180px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(86deg) brightness(109%) contrast(101%);
    img {
        width: 100%;
        
    }

    &--green {
        filter: invert(31%) sepia(50%) saturate(492%) hue-rotate(116deg) brightness(106%) contrast(87%);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    &.active {
        pointer-events: all;
    }
}