@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

:root {
    --cl-primary-400: #e9ab53;
    --cl-primary-500: #f15e50;
    
    --cl-neutral-300: #fffdfa;
    --cl-neutral-400: #c5c6ce;
    --cl-neutral-500: #5d5f79;
    --cl-neutral-600: #00001a;

    --ff-400: 'Inter', sans-serif;
    --fs-400: 0.938rem; /* 15px */
    --fs-500: 1.25rem;  /* 20px */
    --fs-600: 1.875rem; /* 20px */
    --fs-700: 2.5rem;   /* 40px */
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;

    --sz-300: 0.313rem; /*  5px */
    --sz-400: 0.625rem; /* 10px */
    --sz-500: 0.938rem; /* 15px */
    --sz-600: 1.563rem; /* 25px */
    --sz-700: 3.125rem; /* 50px */
}

/* General styles */
body {
    background-color: var(--cl-neutral-300);
    font-family: var(--ff-400);
    overflow-x: hidden;
}

.container {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: var(--fs-700);
    color: var(--cl-neutral-600);
}

h2 {
    font-size: var(--fs-600);
}

h3 {
    font-size: var(--fs-500);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: var(--fs-400);
    color: var(--cl-neutral-500);
    line-height: 1.7;
}

/* Specific styles */
.page-header {
    padding: calc(var(--sz-400) * 3) 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: fit-content;
}

/** Nav **/

.nav-button {
    position: relative;
    z-index: 3;
    padding: 0;
    background-color: unset;
    border: unset;
    height: 20px;
}

/* Hamb button */

.nav-hamb {
    pointer-events: none;
    width: 35px;
    height: 4px;
    border-radius: 50px;
    background-color: #00001a;
    transition: background-color 150ms ease;
}

.nav-hamb::after, .nav-hamb::before {
    content: "";
    position: absolute;
    pointer-events: none;
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 50px;
    background-color: #00001a;
    transition: top 150ms 150ms ease, bottom 150ms 150ms ease, transform 150ms ease;
    
}

.nav-hamb::after {
    top: 0;
}

.nav-hamb::before {
    bottom: 0;
}

.nav-hamb.active {
    background-color: var(--cl-neutral-300);
    transition: background-color 150ms ease;
}

.nav-hamb.active::after {
    top: 8px;
    transform: rotate(45deg);
    transition: top 150ms ease, bottom 150ms ease, transform 150ms 150ms ease;
}

.nav-hamb.active::before {
    bottom: 8px;
    transform: rotate(-45deg);
    transition: top 150ms ease, bottom 150ms ease, transform 150ms 150ms ease;
}

/* Main nav */

.main-nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    height: 100%;
    z-index: 2;
    background-color: var(--cl-neutral-300);
    padding-top: calc(var(--sz-700) * 3);
    transition: width 300ms ease-in;
}

.main-nav.active {
    width: 70%;
}

.nav-container {
    padding-left: var(--sz-600);
}

.background-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(240 100% 5% / .5);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    /* transition: opacity 290ms 0; */
}

.background-overlay.active {
    opacity: 1;
    pointer-events: initial;
    /* transition: opacity 0ms 290ms; */
}

.nav-link {
    margin-bottom: var(--sz-500);
    font-weight: 500;
}

/** Main **/
.page-main {
    margin-bottom: var(--sz-600);
}

.main-new-image {
    margin-bottom: var(--sz-600);
}

.main-new-title {
    line-height: 1.15;
    font-weight: var(--fw-800);
    margin-bottom: var(--sz-500);
}

.main-new-resume-text {
    margin-bottom: var(--sz-600);
}

.main-new-resume-readmore-btn {
    width: 60%;
    border: unset;
    padding: var(--sz-400) 0;
    background-color: var(--cl-primary-500);
    color: var(--cl-neutral-300);
    letter-spacing: 3px;
    font-size: var(--fs-400);
    font-weight: 500;
    cursor: pointer;
}

.main-new-resume-readmore-btn:where(:hover, :active) {
    background-color: #00001a;
}

/** Other news **/
.other-news {
    background-color: var(--cl-neutral-600);
    padding: var(--sz-600) calc(var(--sz-400) * 2);
    margin-bottom: calc(var(--sz-600) * 3);
}

.other-news-title {
    color: var(--cl-primary-400);
    margin-bottom: calc(var(--sz-500) * 2);
    line-height: 1;
}

.other-new:not(:last-of-type) {
    border-bottom: 1px solid var(--cl-neutral-400);
    margin-bottom: var(--sz-600);
    padding-bottom: var(--sz-600);
}

.other-new-title {
    color: var(--cl-neutral-300);
    margin-bottom: var(--sz-300);
}

.other-new-resume {
    color: var(--cl-neutral-400);
}

/** Top news **/
.page-footer {
    margin-bottom: calc(var(--sz-500) * 6);
}

.top-new {
    display: grid;
    grid-template-columns: .95fr 2fr;
    column-gap: var(--sz-600);
    height: 125px;
}

.top-new:not(:last-of-type) {
    margin-bottom: calc(var(--sz-400) * 4);
}

.top-new-image {
    height: 100%;
    overflow: hidden;
    justify-self: center;
}

.top-new-image img {
    object-fit: cover;
    height: 100%;
}

.top-new-position {
    font-size: var(--fs-600);
    color: var(--cl-neutral-400);
    font-weight: var(--fw-800);
    line-height: 1;
    margin-bottom: var(--sz-400);
}

.top-new-title {
    font-weight: var(--fw-800);
    font-size: 1.125rem;
    line-height: 1;
    margin-bottom: var(--sz-400);
}

/* Utility classes */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}