/* custom properties */
:root {
    --cl-white: hsl(0, 0%, 100%);
    --cl-light-gray: hsl(212,45%,89%);
    --cl-grayish-blue: hsl(220, 15%, 55%);
    --cl-dark-blue: hsl(218, 44%, 22%);
    
    --ff-400: 'Outfit', sans-serif;
    --fs-400: 0.938rem;
    --fs-700: 1.25rem;
}

/* General styles */
body {
    font-family: var(--ff-400);
    font-size: var(--fs-400);
    background-color: var(--cl-light-gray);
    color: var(--cl-grayish-blue);
}

h1 {
    color: var(--cl-dark-blue);
    font-size: var(--fs-700);
}

/* Specific Styles */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    --mrgn: 1.25rem;
    
    width: 300px;
    background-color: var(--cl-white);
    padding: 0.938rem;
    border-radius: 20px;
}

.card img {
    border-radius: 10px;
    margin-bottom: var(--mrgn);
}

.card-text {
    padding: 0 0.313rem;
}

.card-text > * {
    margin-bottom: var(--mrgn);
    text-align: center;
}