$cl-primary-400: hsl(193, 38%, 86%);
$cl-primary-500: hsl(150, 100%, 66%);
$cl-neutral-400: hsl(217, 19%, 38%);
$cl-neutral-500: hsl(217, 19%, 24%);
$cl-neutral-600: hsl(218, 23%, 16%);

$fs-300: 0.625rem;  /* 12 */
$fs-400: 0.75rem;   /* 12 */
$fs-500: 1.5rem;    /* 24 */
$fs-600: 1.75rem;   /* 28 */

$ff-manrope: 'Manrope', sans-serif;
$fw-800: 800;