@use '../base/variables' as var;

.nav {
    width: 90%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 80px;
    left: 5%;
    padding: 0;
    clip-path: polygon(0% 5%, 95% 5%, 100% 0%, 100% 100%, 0% 100%);
    background-color: var.$clr-neutral-100;
    transition: height 200ms ease-out, padding 200ms ease-out;

    @include var.mdq {
        position: unset;
        height: unset;
        overflow: unset;
        top: unset;
        left: unset;
        clip-path: unset;
        background-color: unset;
    }

    &.active {
        padding: calc(var.$sz-40 +  var.$sz-05) var.$sz-30 var.$sz-30;
        overflow: visible;

        .nav__link {
            opacity: 1;
            transition: opacity 400ms ease-out;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: var.$sz-05;
        align-items: center;
        height: 100%;

        @include var.mdq {
            flex-direction: row;
            gap: var.$sz-15;
        }
    }

    &__link {
        opacity: 0;
        padding: var.$sz-15 var.$sz-20;
        font-family: var.$ff-barlow;
        text-align: center;
        color: var.$clr-neutral-300;
        width: 50%;
        min-height: 54px;
        transition: opacity 100ms ease-out;

        @include var.mdq {
            opacity: unset;
            padding: var.$sz-15 var.$sz-30;
            color: var.$clr-neutral-100;
            font-size: var.$fs-16;
        }

        &--accent {
            font-family: var.$ff-fraunces;
            font-size: var.$fs-14;
            text-transform: uppercase;
            font-weight: var.$fw-700;
            border-radius: 50px;
            background-color: var.$clr-primary-200;
            color: var.$clr-neutral-500;

            @include var.mdq {
                background-color: var.$clr-neutral-100;
            }
        }
    }
}